* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: skyblue;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
  margin: auto;
}

section {
  background: #f8f8ff;
  margin: 24px;
  padding: 14px;
  border: 1px solid darkblue;
  border-radius: 6px;

  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75);
}
